43.207.34.231.sslip.io {
    # Payload Generator
    handle /generatePayload* {
        reverse_proxy payload-generator:5009
    }
    
    # Trade Executor
    handle /createStrategy* {
        reverse_proxy trade-executor:5005
    }
    handle /health* {
        reverse_proxy trade-executor:5005
    }
    handle /strategies* {
        reverse_proxy trade-executor:5005
    }
    
    handle /strategies* {
        reverse_proxy trade-executor:5005
    }
    
    # Default to payload generator
    handle {
        reverse_proxy payload-generator:5009
    }
}
